<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="url" value="https://org92267fd6.crm8.dynamics.com/" />
    <add key="username" value="jagpreet.singh@zoxima.com" />
    <add key="password" value="Unique@#123" />
    <add key="AppID" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--<add key="uri" value="http://10.10.10.45:9049/UATAudit/OData/Company('Prince%20Pipes%20%26%20Fittings%20P.%20Ltd')/CustomerDetail?$format=json" />-->
    <add key="uri" value="http://10.10.10.45:9049/UATAudit/OData/Company('Prince%20Pipes%20%26%20Fittings%20P.%20Ltd')/DMSPriceListDetails?$format=json"/>
    <add key="NavUsername" value="PRINCEPIPES\NAVDMS" />
    <add key="NavPassword" value="MS@Au3uO" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>